PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "Request" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "category" TEXT NOT NULL,
    "urgency" TEXT NOT NULL,
    "summary" TEXT NOT NULL,
    "keywords" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "timestamp" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "assignedSupporter" TEXT
, "latitude" REAL, "longitude" REAL);
INSERT INTO Request VALUES(173,'의료/낙상','긴급','[서울특별시 영등포구] 영등포소방서 긴급 출동 요청','119,긴급,구조,의료','처리중','2026-05-27T05:22:20.770+00:00',NULL,37.5169248361000029,126.907686396900004);
INSERT INTO Request VALUES(174,'의료/낙상','긴급','[서울특별시 영등포구] 영등포소방서 긴급 출동 요청','119,긴급,구조,의료','대기중','2026-05-27T05:22:20.797+00:00',NULL,37.5169248361000029,126.907686396900004);
INSERT INTO Request VALUES(175,'의료/낙상','긴급','[제주특별자치도 제주시] 서부소방서 긴급 출동 요청','119,긴급,구조,의료','대기중','2026-05-27T05:22:20.815+00:00',NULL,33.427821999599999,126.423210000400004);
CREATE TABLE IF NOT EXISTS "Supporter" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "name" TEXT NOT NULL,
    "specialty" TEXT NOT NULL,
    "location" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "rating" REAL NOT NULL,
    "completedTasks" INTEGER NOT NULL
, "latitude" REAL, "longitude" REAL);
INSERT INTO Supporter VALUES(24,'이영희','간호사','서울 강북구','활동 가능',4.90000000000000035,124,37.6390999999999991,127.025400000000004);
INSERT INTO Supporter VALUES(25,'박철수','요양보호사','서울 강북구','활동 중',4.79999999999999982,89,37.6257000000000019,127.0347);
INSERT INTO Supporter VALUES(26,'김민지','사회복지사','경기 파주시','활동 가능',4.70000000000000017,56,37.7511000000000009,126.779700000000005);
CREATE TABLE IF NOT EXISTS "Infrastructure" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "latitude" REAL,
    "longitude" REAL,
    "phone" TEXT
);
INSERT INTO Infrastructure VALUES(1241,'장성군치매안심센터','치매센터','전라남도 장성군 장성읍 성산5길 17',35.3233002999999996,126.808367000000004,'061-390-7164');
INSERT INTO Infrastructure VALUES(1242,'태백시치매안심센터','치매센터','강원특별자치도 태백시 태백로 905',37.1766760000000005,128.992430500000011,'033-550-3042');
INSERT INTO Infrastructure VALUES(1243,'파주시치매안심센터','치매센터','경기도 파주시 조리읍 봉천로 68',37.7450790700000027,126.805011199999995,'031-940-3740');
CREATE TABLE IF NOT EXISTS "RegionStat" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "region" TEXT NOT NULL,
    "elderlyRatio" REAL NOT NULL,
    "elderlyCount" INTEGER NOT NULL,
    "totalCount" INTEGER NOT NULL
);
INSERT INTO RegionStat VALUES(55,'전국',21.1999999999999992,10840822,51117378);
INSERT INTO RegionStat VALUES(56,'서울특별시',20.3999999999999985,1900102,9299548);
INSERT INTO RegionStat VALUES(57,'부산광역시',25.3000000000000007,818835,3241600);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('Request',207);
INSERT INTO sqlite_sequence VALUES('Supporter',27);
INSERT INTO sqlite_sequence VALUES('Infrastructure',1640);
COMMIT;
